# Backend & Database Configuration
PORT = 8200
DATABASE_URL= ""

# SMTP Configuration
SMTP_HOST=m
SMTP_PORT=5
SMTP_USER=n
SMTP_PASS=c

# Admin Email to receive notifications
SMTP_To=n

#Google Authentication Stuffs
JWT_SECRET=m
